* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: #e5e3e3;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 5rem;
}

.nav > h1 {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
}

.nav__link {
  display: flex;
  justify-content: space-between;
  width: 30%;
  cursor: pointer;
}

.conn__main {
  display: flex;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 4rem 0;
}

.about__text {
  width: 40%;
}

.about__image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.image {
  width: 21rem;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s ease;
}

.image:hover {
  opacity: 0.9;
}

.addPeople {
  display: flex;
  height: 320px;
  width: 300px;
  flex-direction: column;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 1rem;
  padding: 5rem 3rem;
  background-color: white;
}

.input {
  margin: 0.6rem 0 !important;
}

.connections {
  display: flex;
  height: 320px;
  width: 300px;
  flex-direction: column;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 1rem;
  padding: 4rem;
  background-color: white;
}

.form__div {
  display: flex;
  flex-direction: column;
}

.renderDiv {
  display: flex;
}

.modalHeading {
  font-size: 1.5rem;
}

.modalSub {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.suggestion {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.suggestion > span {
  margin: 0 0.4rem;
}

.listUser{
  display: flex;
}

.listUser > p{
  margin: 0 .2rem;
  font-style:oblique;
  font-weight: bold;
}


