* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: #e5e3e3;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 5rem;
}

.nav > h1 {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
}

.nav__link {
  display: flex;
  justify-content: space-between;
  width: 30%;
  cursor: pointer;
}

.conn__main {
  display: flex;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 4rem 0;
}

.about {
  display: flex;
  width: 90%;
  background-color: #040e22;
  min-height: 60vh;
  height: 80vh;
  border-radius: 1rem;
  margin-top: 2rem;
}

.about__text {
  width: 40%;
}

.about__image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.image {
  width: 21rem;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s ease;
}

.image:hover {
  opacity: 0.9;
}

.addPeople {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 1rem;
  padding: 5rem;
  background-color: white;
}

.input {
  margin: .6rem 0 !important;
}

.connections{
display: flex;
flex-direction: column;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
border-radius: 1rem;
padding: 4rem;
background-color: white;
}

.form__div{
  display: flex;
  flex-direction: column;
}
